<center><h1>Words of <%= @user.username %></h1></center>

 <% @user.posts.each do |post| %>
 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><%= post.title.html_safe %></h2>
        <p class="panel-creator"> <%= image_tag post.user.avatar.thumb %>Creator: <%= post.user.username %> on <%= post.created_at.strftime('%B %e, %Y at %l:%M %P') %></p>
      </div>
      <div class="panel-body">
        <p><%= post.blog_entry.html_safe %></p>
      </div>
      <div class="panel-footer">
        <td><%= link_to 'Show', post, class: "btn btn-info" %></td>
        <% if post.user_id == current_user.id %>
          <td><%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>  
      </div>
    </div>

  <% end %>  

<br>

<%= link_to 'Add Some Wisedom', new_post_path, class: "btn btn-primary" %>

